<!DOCTYPE html>


<html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">

    {{>header}}
    <p>
        This site was created by Vladimir Mid. It uses API from everywhere
    </p>
    <img class="portrait" src="/img/my.jpeg">

    </div>
    {{>footer}}
</body>

</html>